/* global settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
  border: none;
  outline: none;
}

/* end global settings */

/* variables */

:root {
  --first-brand-color: #02DAFF;
  --second-brand-color:  #FF9331;
  --third-brand-color: #D6B3F7;
  --fourth-brand-color: #0400ff;
  --fifth-brand-color: #7c07c0;
  --sixth-brand-color: #ff91ed;
  --seventh-brand-color: #ffec43;
}

/* end variables */

/* brand colors */

.brand-color-1 {
  color: var(--first-brand-color);
}

.bg-brand-color-1 {
  background-color: var(--first-brand-color);
}

.brand-color-2 {
  color: var(--second-brand-color);
}

.bg-brand-color-2 {
  background-color: var(--second-brand-color);
}

.brand-color-3 {
  color: var(--third-brand-color);
}

.bg-brand-color-3 {
  background-color: var(--third-brand-color);
}

.brand-color-4 {
  color: var(--fourth-brand-color);
}

.bg-brand-color-4 {
  background-color: var(--fourth-brand-color);
}

.brand-color-5 {
  color: var(--fifth-brand-color);
}

.bg-brand-color-5 {
  background-color: var(--fifth-brand-color);
}

.brand-color-6 {
  color: var(--sixth-brand-color);
}

.bg-brand-color-6 {
  background-color: var(--sixth-brand-color);
}

.brand-color-7 {
  color: var(--seventh-brand-color);
}

.bg-brand-color-7 {
  background-color: var(--seventh-brand-color);
}

/* end brand colors */

/* custom scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px whitesmoke;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--fourth-brand-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fourth-brand-color);
}

html {
  scrollbar-color: var(--fourth-brand-color) whitesmoke;
  scrollbar-width: thin;
}

/* end custom scrollbar */

/* titles and texts */

.page-content{
  margin: 3%;
}

.title {
  color: var(--fifth-brand-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2rem;
  margin: 30px;
}

.section-title{
  color: var(--second-brand-color);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 12px;
}

.subtitle {
  color: var(--second-brand-color);
  font-weight: bold;
  font-size: 1.5rem;
  margin: 12px 0px;
}

.text {
  text-align: justify;
  font-size: 1rem;
}

/* end titles and texts */

/* footer */

footer{
  bottom: 0px;
  width: 100%;
  background: var(--first-brand-color);
  margin-top: 2%;
}

.footer-main{
  display: flex;
}

.footer-main .footer-box{
  flex-basis: 50%;
  padding: 20px 15px;
}

.footer-box h2{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-box h2 a,.footer-box h2 a:visited{
  text-decoration: none;
  color: black;
}

.footer-box h2 a:hover{
  text-decoration: underline
}

.footer-box .content{
  margin: 20px 0 0 0;
  position: relative;
}

.footer-box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 1px;
  width: 100%;
  background: black;
}

.footer-box .content:after{
  position: absolute;
  content: '';
  height: 1px;
  width: 15%;
  background: var(--second-brand-color);
  top: -10px;
}

.footer-left .content p{
  text-align: justify;
}

.footer-left .content .pages a{
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.footer-left .content .pages a:hover{
  text-decoration: underline;
  color: var(--fourth-brand-color);
}

.footer-left .content .social{
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0 0 0;
}

.footer-left .content .social a{
  padding: 0 2px;
  color: var(--fourth-brand-color)
}

.footer-left .content .social a span{
  height: 40px;
  width: 40px;
  background: var(--third-brand-color);
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.footer-left .content .social a span:hover{
  background: var(--second-brand-color);
}

.footer-center .content a{
  text-decoration: none;
  color: var(--fourth-brand-color);
}

.footer-center .content .fas{
  font-size: 1.4375rem;
  background: var(--third-brand-color);
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.footer-center .content .fas:hover{
  background: var(--second-brand-color);
}

.footer-center .content .text{
  font-size: 0.8rem;
  padding-left: 10px;
}

.footer-center .content .text a{
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.footer-center .content .text a:hover{
  text-decoration: underline;
  color: var(--fourth-brand-color);
}

.footer-center .content .phone{
  margin: 15px 0;
}

.footer-right .content form input{
  margin-top: 15px;
}

.footer-right .content form .btn{
  margin-top: 20px;
}

.footer-right .content p{
  font-size: 0.8rem;
}

.footer-right .content form label{
  font-size: 0.7rem;
}

.lblSuscripcion{
  display: block;
  margin-top: 1em;
  color: black;
}

.txtEmailSuscripcion{
  padding: 0.5em !important;
  border: solid 1px var(--fourth-brand-color);
  width: 80%;
}

.btnSuscripcion{
  padding: 0.5em;
  border-radius: 4%;
  background-color: var(--fourth-brand-color);
  color:whitesmoke;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 600;
  width: 80%;
}

.btnSuscripcion:hover{
  background-color: var(--second-brand-color);
  cursor: pointer;
}

.footer-bottom{
  padding: 5px;
  font-size: 0.7rem;
  background: black;
  text-align: center;
}

.footer-bottom span{
  color: lightgray;
}

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  
  .footer-main{
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .footer-main .footer-box{
    margin: 15px 0;
  }
  
  .txtEmailSuscripcion{
    width: 100%;
  }
  
  .btnSuscripcion{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .footer-main .footer-box{
    margin: 5px 0;
  }
}

/* end footer */

/* header */

header, .navbar{
  top: 0;
  margin-bottom: 90px !important;
}

.navbar{
  background-color: var(--first-brand-color);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.063em;
  font-weight: 600;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.primary-icon{
  height: 45px;
}

.secondary-icon{
  height: 35px;
  margin-left: 5px;
}

.nav-list{
  list-style-type: none;
}

.nav-list .list-item{
  display: inline-block;
  padding: 20px 10px;
}

.navbar a{
  color: black;
  text-decoration: none;
}

.list-item:hover{
  background-color: var(--second-brand-color);
  cursor: pointer;
}

.list-item a:hover {
  color: black;
  padding: 5px;
  margin: -5px;
}

.menu{
  display: none;
}

.menu-line{
  width: 20px;
  height: 3px;
  background-color: black;
  margin-bottom: 4px;
}

.container{
  width: 30em;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  background-color: var(--fifth-brand-color);
  box-shadow: 0 20px 40px rgb(black, 0.2);
  z-index: 0;
  margin-top: 30px;
}

.tabs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tabs h3{
  background-color: var(--second-brand-color);
  text-align: center;
  padding: 15px 0;
  font-weight: 600;
  cursor: pointer;
}

.tab-content{
  background-color: var(--fifth-brand-color);
  padding: 50px 40px;
}

.tab-content h4{
  font-size: 28px;
  margin-bottom: 20px;
  color: whitesmoke;
  font-weight: 600;
}

.tab-content p{
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: whitesmoke;
}

.tab-content .form{
  display: none;
  overflow:hidden
}

.tab-content .working{
  display: block;
}

.tabs .working{
  background-color: var(--fifth-brand-color);
  color: whitesmoke;
}

/* end header */

/* nosotros */

.refugios-img{
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2%;
}

.content-center{
  text-align: center;
}

.nosotros-img{
  object-fit: cover;
  border-radius: 10%;
  margin: 2%;
}

.vet-list {
  margin-left: 5%;
}

.mapas{
  width: 100% !important;
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2% 0%;
}

.mapas iframe{
  margin: 2%;
}

@media screen and (max-width: 900px) {
  .refugios-img{
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  
  .nosotros-img{
    width: 60%;
  }
  
}

/* end nosotros */

/* contacto */

.field{
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 0.06em whitesmoke;
  border-radius: 3%;
}

.field legend{
  font-size: 1.25em;
  padding: 0.25;
  color: var(--third-brand-color)
}

.field label{
  display: block;
  margin-top: 1em;
  color: whitesmoke;
}

.field label:first-of-type{
  margin-top: 0;
}

.field input{
  padding: 0.5em;
  border: solid 1px var(--fourth-brand-color);
}

.field input[type="text"],input[type="email"],input[type="date"],input[type="number"]{
  width: 100%;
}

.field textarea{
  min-height: 8em;
  min-width: 100%;
  padding: 0.5;
  border:solid 1px whitesmoke;
  resize: vertical;
  max-height: 200px;
}

.field input[type=radio] + label {
  display:inline-block;
  padding-top: 0;
  margin-top: 0;
}

.field input[type="radio"]{
  margin-left: 1.5em;
  margin-right: 0;
}

#dog{
  margin-left: 0;
}

.field button[type="submit"], button[type="reset"]{
  padding: 0.5em;
  border-radius: 4%;
  background-color: var(--first-brand-color);
  color:whitesmoke;
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 600;
  width: 100%;
  margin-top: 0.6em;
  height: 2em;
  border: none;
}
.field button[type="submit"]{
  margin-bottom: 0.5em;
}
.field input:focus{
  border: 3px solid var(--fourth-brand-color);
  outline: none;
}

.field input::-webkit-outer-spin-button,
.field input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.field input[type=number] {
  -moz-appearance: textfield;
}
.field button:hover{
  background-color: var(--second-brand-color);
}

.formulario__grupo-input,
.consulta__grupo-input {
  position: relative;
}

.formulario__input-error,
.consulta__input-error{
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}
.formulario__input-error-activo,
.consulta__input-error-activo{
  display: block;
}
.formulario__validacion-estado,
.consulta__validacion-estado{
  position: absolute;
  right: 5px;
  bottom: 9px;
  font-size: 16px;
  opacity: 0;
}

.formulario__mensaje,
.consulta__mensaje{
  height: 30px;
  line-height: 30px;
  background: #F66860;
  border-radius: 3px;
  padding: 0 2px;
  display: none;
}

.formulario__mensaje-activo,
.consulta__mensaje-activo{
  display: block;
}

.formulario__mensaje p,
.consulta__mensaje p{
  margin: 0;
  font-size: 13px;
}

.formulario__mensaje-exito,
.consulta__mensaje-exito{
  font-size: 14px;
  background-color: #119200;
  border-radius: 3px;
  padding: 0 5px;
  display: none;
}

.formulario__mensaje-exito-activo,
.consulta__mensaje-exito-activo{
  display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado,
.consulta__grupo-correcto .consulta__validacion-estado
{
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado,
.consulta__grupo-incorrecto .consulta__validacion-estado{
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input,
.consulta__grupo-incorrecto .consulta__input{
  border: 3px solid #bb2929;
}

@media all and (max-width: 800px) {
  .primary-icon{
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
  }
  .secondary-icon{
    display: none;
  }
}

@media all and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    position: fixed;
  }
  
  .navbar .container-icon {
    width: 100%;
  }
  
  .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
  }
  
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }
  
  .nav-list .list-item {
    display: block;
    border-top: 1px solid whitesmoke;
  }
  
  .primary-icon{
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
  }
  
  .secondary-icon{
    display: inline-block;
    margin-left: 10px;
  }

  .active{
    display: block;
  }
  
}

/* end contacto /*

/* faq */

.qa {
  margin: 2%;
  border: solid 1px var(--fifth-brand-color);
  padding: 2.5%;
  background-color: var(--third-brand-color);
}

.question{
  font-weight: bold;
  margin-bottom: 2%
}

.answer{
  font-style: italic;
}

.content-center{
  text-align: center;
}

.confusos-img{
  object-fit: cover;
  border-radius: 10%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.faq{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.faq-questions{
  background-color: var(--sixth-brand-color);
  width: 68%;
  margin-right: 2%;
}

.faq aside {
  background-color: var(--seventh-brand-color);
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
}

.confusos-img-hidden-1, .confusos-img-hidden-2{
  display: none;
}

.confusos-img-small{
  display: none;
}

@media screen and (max-width: 1200px) {

  .confusos-img-hidden-1 {
    display: block;
  }

}

@media screen and (max-width: 1000px) {
  
  .confusos-img-hidden-2{
    display: block;
  }
  
}

@media screen and (max-width: 800px) {
  
  .faq aside {
    display: none;
  }

  .faq-questions{
    width: 100%;
    margin-right: 0%;
  }

  .qa{
    margin: 4% 2%;
    padding: 4%;
  }

  .confusos-img-small{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
}

/* end faq */

/* requisitos de adopcion */



/* end requisitos de adopcion */

/* home */

.contenedorgrid{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
}

.principal{
  background-color: var(--third-brand-color);
  width: 330px;
  border: 1px solid whitesmoke;
}

.principal img{
  background-color: whitesmoke;
  width: 250px;
  height: 250px;
  margin-top: 15px;
  margin-left: 50px;
  background-size: cover;
  border: 10px solid whitesmoke;
  border-radius: 50%;
}

.principal h2{
  text-align: center;
}

.principal p{
  text-align: center;
}

.primertitle{
  color: gray;
  text-align: center;
  text-transform: uppercase;
}

.textocontenedor{
  width: 300px;
  margin-left: 20px;
}

.centrar{
  margin-left: 110px;
}

.grid-container{
  display: grid;
  background-color: whitesmoke;
  grid-template-columns: auto auto auto;
}

.grid-container div{
  background-color: var(--fifth-brand-color);
  border: 1px solid whitesmoke;
  text-align: center;
  margin: 3px;
  height: 425px;
  width: 437px;
  color: whitesmoke;
}

.imagen1{
  background-image: url(../img/home/adoptados/perros.webp);
  background-size: cover;
}

.imagen2{
  background-image: url(../img/home/adoptados/gatos.jpg);
  background-size: cover;
}

.imagen3{
  background-image: url(../img/home/adoptados/rescatados.jpg);
  background-size: cover;
}

.nav1{
  color: whitesmoke;
  border-radius: 10px;
  font-size: 1.5vw;
  text-decoration: none;
  left: 1;
  text-align: right;
  padding: 5px;
}

.main {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.maquetado-a{
  background-color: var(--second-brand-color);
  color: whitesmoke;
  grid-column: 1/3;
  text-align: justify;
  height: 375px;
  margin: 10px;
  padding: 10px;
}

.maquetado-b{
  background-color: var(--seventh-brand-color);
  grid-column: 1/3;
  text-align: left;
  height: 375px;
  display: inline-flex;
  margin: 10px;
  font-size: medium;
}

.sub-a{
  background-color: var(--third-brand-color);
  height: 375px;
  width: 50%;
}

.sub-b{
  background-color: var(--sixth-brand-color);
  height: 375px;
  width: 50%;
  padding: 10px;
  text-align: center;
  padding-right: 30px;
}

.maquetado-c{
  background-color: var(--seventh-brand-color);
  grid-column: 1/2;
  text-align: justify;
  height: 375px;
  padding: 20px;
  margin: 10px;
}

.maquetado-e{
  background-color: var(--fifth-brand-color);
  grid-column: 2/3;
  text-align: justify;
  height: 375px;
  border-radius: 5%;
  margin: 10px;
}

.maquetado-f{
  background-color: var(--sixth-brand-color);
  grid-column: 1/3;
  text-align: justify;
  height: 375px;
  display: inline-flex;
  font-size: small;
  text-align: center;
  margin: 10px;
}

.final{
  background-color: var(--seventh-brand-color);
  color: black;
  grid-column: 1/3;
  grid-row: 5/7;
  padding: 40px;
  margin: 10px;
  font-size: small;
  text-align: justify;
}

.textoprincipal{
  margin: 50px;
  margin-top: 5px;
  font-size:medium;
  text-align: justify;
}

.textosegundo{
  margin: 20px;
  margin-top: 10px;
  text-align: justify;
  font-size: medium;
}

.foto{
  margin-top: 60px;
}

.maquetado{
  background-color: whitesmoke;
  width: 650px;
  height: 850px;
  border: 1px solid whitesmoke;
  text-align: justify;
}

.textocontenedor2{
  width: 600px;
  margin-left: 20px;
}

.adoptados img{
  background-color: whitesmoke;
  width: 250px;
  height: 275px;
  margin-top: 15px;
  margin-left: 50px;
  background-size: cover;
  border: 10px solid whitesmoke ;
  border-radius: 50%;
}

.primertitle{
  color: gray;
  text-align: center;
  text-transform: uppercase;
}

.textocontenedor{
  width: 300px;
  margin-left: 20px;
}

.centrar{
  margin-left: 70px;
}

/* end home */
