/* global settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

/* variables */

:root {
    --first-brand-color: #02DAFF;
    --second-brand-color:  #FF9331;
    --third-brand-color: #D6B3F7;
    --fourth-brand-color: #0400ff;
    --fifth-brand-color: #7c07c0;
}

/* brand colors */

.brand-color-1 {
    color: var(--first-brand-color);
}

.bg-brand-color-1 {
    background-color: var(--first-brand-color);
}

.brand-color-2 {
    color: var(--second-brand-color);
}

.bg-brand-color-2 {
    background-color: var(--second-brand-color);
}

.brand-color-3 {
    color: var(--third-brand-color);
}

.bg-brand-color-3 {
    background-color: var(--third-brand-color);
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px whitesmoke;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--first-brand-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--first-brand-color);
}
html {
    scrollbar-color: var(--first-brand-color) whitesmoke;
    scrollbar-width: thin;
}
