*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --first-brand-color: #02DAFF;
  --second-brand-color:  #FF9331;
  --third-brand-color: #D6B3F7;
  --fourth-brand-color: #0400ff;
  --fifth-brand-color: #7c07c0;
  --sixth-brand-color: #000000;
  --seventh-band-color: #faf0e6;
}

body{
  background-color: var(--third-brand-color);
}
.navbar{ /*el conjunto de icono y links en el header*/
  background-color: var(--first-brand-color);
  color: var(--sixth-brand-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.063em;
  font-weight: 600;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.primary-icon{ /*solo el icono*/
  height: 45px;
}
.nav-list{
  list-style-type: none;
}
.nav-list .list-item{
  display: inline-block;
  padding: 20px 10px;
}
.navbar a{
  color: var(--sixth-brand-color);
  text-decoration: none;
}
.list-item a:hover { /*cuando apoyas el cursor sobre el link a algun lado*/
  color: var(--sixth-brand-color);
  background-color: var(--second-brand-color);
  cursor: pointer;
  border-radius: 25%;
  padding: 5px;
  margin: -5px;
}
.menu{
  display: none;/*reemplazar menu por active*/
}
.menu-line{
  width: 20px;
  height: 3px;
  background-color: var(--sixth-brand-color);
  margin-bottom: 4px;
}    

/*esto empieza con las tabs*/
.container{
  width: 30em;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 120px;
  background-color: var(--fifth-brand-color);
  box-shadow: 0 20px 40px rgb(0, 0, 0, 0.2);
  z-index: 0;
  
}
.tabs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tabs h3{
  background-color: var(--second-brand-color);
  text-align: center;
  padding: 15px 0;
  font-weight: 600;
  cursor: pointer;
  
}
.tab-content{
  background-color: var(--fifth-brand-color);
  padding: 50px 40px;
}
.tab-content h4{
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--seventh-band-color);
  font-weight: 600;
}
.tab-content p{
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: var(--seventh-band-color);
}
.tab-content div{
  display: none;
}
.tab-content .working{
  display: block;
}
.tabs .working{
  background-color: var(--fifth-brand-color);
  color: #faf0e6;
}
/*aca termina*/
/*principio del formulario*/
.field{
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 0.06em var(--seventh-band-color);
  border-radius: 3%;
}
.field legend{
  font-size: 1.25em;
  padding: 0.25;
  color: #999
}
.field label{
  display: block;
  margin-top: 1em;
  color: var(--seventh-band-color);
}
.field label:first-of-type{
  margin-top: 0;
}
/*input y textarea*/
.field input{
  padding: 0.5em;
  border: solid 1px var(--fourth-brand-color);
}
.field input[type="text"],input[type="email"],input[type="date"],input[type="number"]{
  width: 20em;
}
.field textarea{
  min-height: 8em;
  min-width: 100%;
  padding: 0.5;
  border:solid 1px #999;
}
.field input[type=radio] + label {
  display:inline-block;
  padding-top: 0;
  margin-top: 0; 
}
.field input[type="radio"]{
  margin-left: 1.5em;
  margin-right: 0;
}
#dog{
  margin-left: 0;
}
.field input[type="submit"], input[type="reset"]{
  padding: 0.5em;
  border-radius: 4%;
  background-color: #0d6efd;
  color:var(--seventh-band-color);
  font-family: sans-serif;
  font-size: .9em;
  font-weight: 600;
  width: 100%;
  margin-top: 0.6em;
}
.field #button:hover{
  background-color: #FF9331;
}

/*estilizacion de los mensajes de errores*/
.field span{
  position: absolute;
  bottom: 12px;
  right: 17px;
  font-size:14px;
  color: red;
}
.field span i {
  color: seagreen;
}

@media all and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    position: fixed;
  }
  .navbar .container-icon {
    width: 100%;
  }
  .menu{
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
  }
  .nav-list .list-item {
    display: block;
    border-top: 1px solid white;
  }
  .primary-icon{
    margin-top: 10px;
    margin-left: 10px;
  }
  .active{
    display: block;
  }

  
}
