<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="description" content="Sitio web de adopci&oacute;n de mascotas">
    <title>Ad&oacute;ptame - Admin</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/jpg" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles_admin.css'>

    <script>
        var isLoggedIn = localStorage.getItem('isLoggedIn');
        var username = localStorage.getItem('username');

        if (!isLoggedIn) {
            location.href = 'login.html';
        }
    </script>
</head>

<body>

    <div id="header_admin"></div>

    <div id="app">
        <h3>Carrito de compras</h3><br>

        <div v-if="productos.length > 0">
            <table>
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Carrito</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="producto in productos" :key="producto.codigo">
                        <td>{{ producto.codigo }}</td>
                        <td>{{ producto.descripcion }}</td>
                        <td align="right">{{ producto.cantidad }}</td>
                        <td align="right">&nbsp; &nbsp; {{ producto.precio }}</td>
                        <td>
                            <button @click="agregarAlCarrito(producto)">&nbsp;&nbsp;<b>+</b>&nbsp;&nbsp;</button>
                            <button @click="restarDelCarrito(producto)">&nbsp;&nbsp;<b>-</b>&nbsp;&nbsp;</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="contenedor-centrado">
            <p>No hay productos en el inventario.</p>
        </div>
        <br>
        <div v-if="mostrarCarrito">
            <h3>Productos en el carrito</h3>
            <br>
            <div v-if="carrito.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in carrito" :key="item.codigo">
                            <td>{{ item.codigo }}</td>
                            <td>{{ item.descripcion }}</td>
                            <td align="right">{{ item.cantidad }}</td>
                            <td align="right">&nbsp; &nbsp; {{ item.precio }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-else class="contenedor-centrado">
                <p>El carrito est&aacute; vac&iacute;o.</p>
            </div>
        </div>
        <br>
        <div v-if="!mostrarCarrito" class="contenedor-centrado">
            <button @click="obtenerCarrito">Mostrar carrito</button>
        </div>
        <div v-if="mostrarCarrito" class="contenedor-centrado">
            <button @click="mostrarCarrito=!mostrarCarrito">Ocultar carrito</button>
            <button @click="obtenerCarrito">Actualizar carrito</button>
            <button @click="vaciarCarrito">Vaciar carrito</button>
        </div>
        <br>
        <div class="contenedor-centrado">
            <a href="admin.html">Men&uacute; principal</a>
        </div>

    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "http://127.0.0.1:5000/"
        //const URL = "https://fabianescobar.pythonanywhere.com/"

        const app = Vue.createApp({
            data() {
                return {
                    productos: [],
                    mostrarCarrito: false,
                    carrito: [],
                }
            },
            created() {
                this.obtenerProductos()
            },
            methods: {
                obtenerProductos() {
                    fetch(URL + 'productos')
                        .then(response => response.json())
                        .then(data => {
                            this.productos = data
                        })
                        .catch(error => {
                            console.error(URL + 'productos', error)
                            alert('Error al obtener los productos.')
                        })
                },
                obtenerCarrito() {
                    fetch(URL + 'carrito')
                        .then(response => response.json())
                        .then(data => {
                            this.carrito = data
                            this.mostrarCarrito = true
                        })
                        .catch(error => {
                            console.error('Error al obtener el carrito:', error)
                            alert('Error al obtener el carrito.')
                        })
                },
                agregarAlCarrito(producto) {
                    fetch(URL + 'carrito', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            codigo: producto.codigo,
                            cantidad: 1,
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message)
                        })
                        .catch(error => {
                            console.error('Error al agregar el producto al carrito:', error)
                            alert('Error al agregar el producto al carrito.')
                        })
                    if (this.mostrarCarrito) {
                        this.obtenerCarrito()
                    }
                },
                restarDelCarrito(producto) {
                    fetch(URL + 'carrito', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            codigo: producto.codigo,
                            cantidad: 1,
                        }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message)
                        })
                        .catch(error => {
                            console.error('Error al restar el producto del carrito:', error)
                            alert('Error al restar el producto del carrito.')
                        })
                    if (this.mostrarCarrito) {
                        this.obtenerCarrito()
                    }
                },
                vaciarCarrito() {
                    fetch(URL + 'carrito/vaciar', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message)
                        })
                        .catch(error => {
                            console.error('Error al vaciar el carrito:', error)
                            alert('Error al vaciar el carrito.')
                        })
                    if (this.mostrarCarrito) {
                        this.obtenerCarrito()
                    }
                },
            },
        })
        app.mount('#app')
    </script>

    <div id="footer_admin"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/84ee914179.js" crossorigin="anonymous"></script>
    <script src="js/scripts_admin.js"></script>

</body>

</html>