<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="description" content="Sitio web de adopci&oacute;n de mascotas">
    <title>Ad&oacute;ptame - Admin</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/jpg" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles_admin.css'>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
        var isLoggedIn = localStorage.getItem('isLoggedIn');
        var username = localStorage.getItem('username');

        if (isLoggedIn) {
            location.href = 'admin.html';
        }
    </script>
</head>

<body>
    <div id="header_admin"></div>

    <section class="page-content">

        <h2 class="title">Admistraci&oacute;n</h2>

        <section class="login">

            <div class="login-container" id="app">

                <template v-if="!isLoggedIn">

                    <form @submit.prevent="login">
                        <input type="text" v-model="username" placeholder="Usuario" required><br>
                        <input type="password" v-model="password" placeholder="Contraseña" required><br>
                        <button type="submit">Iniciar sesi&oacute;n</button>
                    </form>
                    <div class="error-message" v-if="errorMessage">{{ errorMessage }}</div>

                </template>

            </div>

        </section>

    </section>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                username: '',
                password: '',
                isLoggedIn: false,
                errorMessage: ''
            },
            methods: {
                login: function () {

                    if (this.username === 'admin' && this.password === 'admin') {

                        this.isLoggedIn = true;
                        this.errorMessage = '';

                        localStorage.setItem('isLoggedIn', true);
                        localStorage.setItem('username', this.username);

                        location.href = 'admin.html';
                    } else {
                        this.errorMessage = 'Credenciales inválidas.';
                    }
                }
            },
            mounted: function () {
                if (localStorage.getItem('isLoggedIn')) {
                    this.isLoggedIn = true;
                    this.username = localStorage.getItem('username');
                }
            }
        });
    </script>

    <div id="footer_admin"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/84ee914179.js" crossorigin="anonymous"></script>
    <script src="js/scripts_admin.js"></script>

</body>

</html>