<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="description" content="Sitio web de adopci&oacute;n de mascotas">
    <title>Ad&oacute;ptame - Admin</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/jpg" href="img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel='stylesheet' type='text/css' media='screen' href='css/styles_admin.css'>
</head>

<body>
    <div id="header_admin"></div>

    <h3>Modificaci&oacute;n de productos</h3><br>

    <div id="app">
        <form @submit.prevent="obtenerProducto">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Modificar Producto</button> <a href="admin.html">Men&uacute; principal</a>
        </form>

        <div v-if="mostrarDatosProducto"><br>
            <h3>Datos del Producto</h3><br>
            <form @submit.prevent="guardarCambios">
                <label for="descripcionModificar">Descripción:</label>
                <input type="text" id="descripcionModificar" v-model="descripcion" required><br>
                <label for="cantidadModificar">Cantidad:</label>
                <input type="number" id="cantidadModificar" v-model="cantidad" required><br>

                <label for="precioModificar">Precio:</label>
                <input type="number" step="0.01" id="precioModificar" v-model="precio" required><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificacion_productos.html">Cancelar</a>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const URL = "http://127.0.0.1:5000/"
        //const URL = "https://fabianescobar.pythonanywhere.com/"

        const app = Vue.createApp({
            data() {
                return {
                    codigo: '',
                    mostrarDatosProducto: false,
                    descripcion: '',
                    cantidad: '',
                    precio: ''
                }
            },
            methods: {
                obtenerProducto() {
                    fetch(URL + 'productos/' + this.codigo)
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al obtener los datos del producto.')
                            }
                        })
                        .then(data => {
                            this.descripcion = data.descripcion
                            this.cantidad = data.cantidad
                            this.precio = data.precio
                            this.mostrarDatosProducto = true
                        })
                        .catch(error => {
                            alert('Error al obtener los datos del producto.')
                        })
                },
                guardarCambios() {
                    const producto = {
                        codigo: this.codigo,
                        descripcion: this.descripcion,
                        cantidad: this.cantidad,
                        precio: this.precio
                    }

                    fetch(URL + 'productos/' + this.codigo, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(producto)
                    })
                        .then(response => {
                            if (response.ok) {
                                return response.json()
                            } else {
                                throw new Error('Error al guardar los cambios del producto.')
                            }
                        })
                        .then(data => {
                            alert('Cambios guardados correctamente.')
                            location.reload()
                        })
                        .catch(error => {
                            alert('Error al guardar los cambios del producto.')
                        })
                }
            }
        })
        app.mount('#app')
    </script>

    <div id="footer_admin"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/84ee914179.js" crossorigin="anonymous"></script>
    <script src="js/scripts_admin.js"></script>

</body>

</html>