*{
    background-color: white;
}

h1{
    font-weight: bold;
}

.caja{
    
    border: 4px;
    background-color: rgb(35, 140, 175);
    width: 430px;
    height: 430px;

 
    text-align: center;
    line-height: 50px;
  
  
}


.color1{
    background-color: rgb(253, 253, 135);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: right;
}
.nav{
    color: brown;
    border-radius: 10px;
    font-size: 1.5vw;
    text-decoration: none;
    left: 1;
    text-align: right;
    padding: 5px;
}


.grid-container{
    display: grid;
    background-color: white;
    grid-template-columns: auto auto auto;
}

.grid-container div{
    background-color: rgb(35, 140, 175);
    border: 1px solid white;
    text-align: center;
    margin: 3px;
    height: 425px;
    width: 437px;
    color: white;
   }
.imagen1{
    background-image: url(/Fotos/niñoyperro.webp);
    background-size: cover;
}
.imagen2{
    background-image: url(/Fotos/gato\ portada.jpg);
    background-size: cover;
}
.imagen3{
    background-image: url(/Fotos/rescatados2.jpg);
    background-size: cover;
}

.nav1{
    color: rgb(35, 140, 175);
    border-radius: 10px;
    font-size: 1.5vw;
    text-decoration: none;
    left: 1;
    text-align: right;
    padding: 5px;
}




